<h1> Awesome Elixir</h1>

<nav>
  <%= render("stars_selector.html") %>
</nav>

<h2> Contents </h2>

<%= for c <- @category_with_libs do %>
  <li> 
    <a href="#<%= c.name %>"> <%= c.name %> </a>
  </li>
<% end %>


<%= for cat <- @category_with_libs do %>
  <%= render("category.html", category: cat) %>
<% end %>